{% extends "base_1.1.html" %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Buttons-->
    <h1>Administrator Dashboard</h1>
    <br>
    <ul class="nav nav-tabs">
          <li class="nav-item">
              <a href="#UpgradeRequest" class="nav-link" data-toggle="tab">List of Upgrade Requests</a>
          </li>
          <li class="nav-item">
              <a href="#EventRequest" class="nav-link" data-toggle="tab">List of Event Requests</a>
          </li>
          <li class="nav-item">
              <a href="#ListofUser" class="nav-link" data-toggle="tab">List of Users</a>
          </li>
          <li class="nav-item">
              <a href="#ListofEvent" class="nav-link" data-toggle="tab">List of Events</a>
          </li>
    </ul>
    <br>
    <br>
    <div class="tab-content">
            <!--Start Events Collapse Table-->
               <div class="tab-pane fade" id="UpgradeRequest">
                <div class="card mb-4">
                    <div class="card-header"><i class="fa fa-calendar mr-1"></i> Update Request </div>
                    <div class="card-body" >
                      <div class="table-responsive">
                        <table class="table" >
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>User Type</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for upgrade_request in upgrade_requests %}
                            <tr>
                              <td>{{ upgrade_request.user_id.user_id.first_name }} {{ upgrade_request.user_id.user_id.last_name }}</td>
                              <td>{{ upgrade_request.user_id.user_id.email }}</td>
                              <td>{{ upgrade_request.user_type }}</td>
                              <td>
                                <button type="submit" class="btn btn-success" id="btnAcceptUpgrade" name="btnAcceptUpgrade"> <i class="fa fa-check"></i> Accept</button>
                                <button type="submit" class="btn btn-danger" id="btnDeclineUpgrade" id="btnDeclineUpgrade"><i class="fa fa-ban"></i> Decline</button>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Update Request Collapse Table-->
                <!--Start of Event Request Collapse Table-->
                <div class="tab-pane fade" id="EventRequest">
                  <div class="card mb-4">
                      <div class="card-header"><i class="fa fa-flag"></i> Event Request </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Organizer Name</th>
                                <th>Event Title</th>
                                <th>Description</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for event_request in event_requests %}
                              <tr>
                                <td>{{ event_request.user_id.user_id.first_name }} {{ event_request.user_id.user_id.last_name }}</td>
                                <td>{{ event_request.event_id.title }}</td>
                                <td>{{ event_request.event_id.description }}</td>
                                <td></td>
                                <td>
                                  <button type="submit" class="btn btn-success" id="btnAcceptCreateEvent" name="btnAcceptCreateEvent"> <i class="fa fa-check"></i> Accept</button>
                                  <button type="button" class="btn btn-danger" id="btnDeclineCreateEvent" name="btnDeclineCreateEvent"><i class="fa fa-ban"></i> Decline</button>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
                </div>
                <!--End of Event Request Collapse Table-->
                <!--Start of List of Users Collapse Table-->
                <div class="tab-pane fade" id="ListofUser">
                  <div class="card mb-4">
                      <div class="card-header"><i class="fa fa-list"></i> List of Users </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Gender</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for user in users %}
                              <tr>
                                <td>{{ user.user_id.first_name }}</td>
                                <td>{{ user.user_id.last_name }}</td>
                                <td>{{ user.user_id.email }}</td>
                                <td>{{ user.user_id.username }}</td>
                                <td>{{ user.gender }}</td>
                                <td>
                                  <button type="submit" class="btn btn-danger"> <i class="fa fa-trash"></i> Remove</button>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
                </div>
                <!--End of List of Users Collapse Table-->
                <!--Start of List of Events Collapse Table-->
                <div class="tab-pane fade" id="ListofEvent">
                  <div class="card mb-4">
                    <div class="card-header"><i class="fa fa-list"></i> List of Events </div>
                    <div class="card-body" >
                      <div class="table-responsive">
                        <table class="table" >
                          <thead>
                            <tr>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Event Type</th>
                              <!-- <th>Start</th>
                              <th>End</th> -->
                              <th>Street</th>
                              <th>City</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for event in events %}
                            <tr>
                              <td>{{event.title}}</td>
                              <td>{{event.description}}</td>
                              <td>{{event.event_type}}</td>
                              <!-- <td>{{event.start_datetime}}</td>
                              <td>{{event.end_datetime}}</td> -->
                              <td>{{event.street}}</td>
                              <td>{{event.city}}</td>
                              <td>
                                <!-- <form action="{% url 'app:user-dashboard' %}" method="post">
                                  {% csrf_token %} -->
                                  <button type="submit" class="btn btn-danger"> <i class="fa fa-trash"></i> Remove</button>
                                <!-- </form> -->
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End of List of Users Collapse Table-->
    </div>
</div>
{% endblock content %}