<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <style>
        html, body {
            height: 100%;
            overflow: hidden;
        }

        .container {
            border: 1px; 
            border-color: #0275d8; 
            border-style: solid;
            padding: 40px;
            width: fit-content;
            margin-top: 64px;
        }
    </style>
</head>
<body>
    

    <div class="container">
        <form action="{% url 'app:register' %}" method="post">
            {% csrf_token %}
            
            <div class="row d-flex justify-content-center" style="padding-bottom: 20px;">
                <h1 class="text-center">Registration</h1><br>
            </div>

            <div class="row">
                <div class="col-4">
                    <label for="first_name">First name:</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="first_name" name="first_name"><br>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    <label for="last_name">Last name:</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="last_name" name="last_name"><br>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    <label for="gender">Gender:</label>
                </div>
                <div class="col-8">
                    <select class="form-control" name="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    <label for="email">Email:</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="email" name="email"><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label for="password">Password:</label>
                </div>
                <div class="col-8">
                    <input type="password" class="form-control" id="password" name="password"><br>
                </div>                
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <p>Username will be generated as firstname.lastname</p><br>
                </div>
            </div>
            
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <input type="submit" value="REGISTER" class="btn btn-primary btn-block"><br>
                </div>
            </div>

            <div class="row d-flex justify-content-center text-center">
                <div class="col-12">
                    <a href='{% url "app:login" %}'>Login</a>
                </div>
            </div>
            
        </form>
    </div>  
</body>
</html>