{% extends "base_1.1.html" %}
{% load static %}
{% block content %}
<div class="container">
  <!-- Buttons-->
  <h1>Organizer Dashboard</h1>
  <br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#EventsList" class="nav-link" data-toggle="tab">Events List</a>
    </li>
    <li class="nav-item">
      <a href="#JoinRequest" class="nav-link" data-toggle="tab">Join Request</a>
    </li>
  </ul>
  <br>
  <br>
  <div class="tab-content">
    <!--Events Collapse Table-->
    <div class="tab-pane fade" id="EventsList">
      <div class="card mb-4">
        <div class="card-header"><i class="fa fa-list mr-1"></i> Events List </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <p align="left"><a type = "button" class="btn btn-white" data-toggle="modal" data-target="#addmodal"><i class="fa fa-plus"></i> Add Event</a></p>
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Event Type</th>
                  <th>Status</th>
                  <th>Street</th>
                  <th>City</th>
                  <th>Province</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
              {% for event in events %}
              <form action="{% url 'app:organizer-dashboard' %}" method="post">
                {% csrf_token %} 
              
                <tr>
                  <td><input type="text" name="event_id" id="event_id" value={{event.id}} hidden></td>
                  <td>{{event.title}}</td>
                  <td>{{event.description}}</td>
                  <td>{{event.event_type}}</td>
                  
                  {% if event.status == 'approved' %}
                  <td>Approved</td>
                  {% endif %}
                  {% if event.status == 'pending' %}
                  <td>Pending</td>
                  {% endif %}
                  {% if event.status == 'declined' %}
                  <td>Declined</td>
                  {% endif %}

                  <td>{{event.street}}</td>
                  <td>{{event.city}}</td>
                  <td>{{event.province}}</td>
                  <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#participantsmodal-{{event.id}}" name="showParticipants" id="showParticipants"><i class="fa fa-pen"></i> Participants</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatemodal-{{event.id}}"><i class="fa fa-pen"></i> Update</button>
                    <!-- <button type="button" class="btn btn-danger" id="btnDeleteEvent" name="btnDeleteEvent"><i class="fa fa-trash"></i> Delete</button> -->
                  </td>
                </tr>

                  <!-- Event Update Modal -->
                  <div class="modal fade" id="participantsmodal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="participantsmodal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="participantsmodal"> Participants List </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body">
                            <input type="text" name="event_id" id="event_id" value={{event.id}} hidden>
                            <div class="form-group">
                              <div class="col-lg-12">
                                {% for participant in event.participants.all %}
                                <div class="col-xs-6">
                                  <input type="text" class="form-control" value="{{participant.user_id.first_name}}" readonly>
                                </div>
                                <div class="col-xs-6">
                                  <input type="text" class="form-control" value="{{participant.user_id.last_name}}" readonly>
                                </div>
                                <br>
                                {% endfor %}

                              </div>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!---End of Event Update Modal-->
                
                  <!-- Event Update Modal -->
                  <div class="modal fade" id="updatemodal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="updatemodal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="updatemodal"> Update Details </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body">
                            <input type="text" name="event_id" id="event_id" value={{event.id}} hidden>
                            <div class="form-group">
                              <div class="col-lg-12">

                                <div class="col-xs-4">
                                  <label for="title"><h5>Title</h5></label>
                                  <input type="text" class="form-control" name="update_event_title" id="update_event_title" placeholder="Title" value="{{event.title}}">
                                </div>

                                <div class="col-xs-4">
                                  <label for="description"><h5>Description</h5></label>
                                  <input type="text" class="form-control" name="update_event_description" id="update_event_description" placeholder="Description" value="{{event.description}}">
                                </div>

                                <div class="col-xs-4">
                                  <label for="eventType"><h5>Event Type</h5></label>
                                  <input type="text" class="form-control" name="update_event_eventType" id="update_event_eventType" placeholder="Event Type" value="{{event.event_type}}">
                                </div>
                                
                                <div class="col-xs-4">
                                  <label for="street"><h5>Street</h5></label>
                                  <input type="text" class="form-control" name="update_event_street" id="update_event_street" placeholder="Street" value="{{event.street}}">
                                </div>

                                <div class="col-xs-4">
                                  <label for="city"><h5>City</h5></label>
                                  <input type="text" class="form-control" name="update_event_city" id="update_event_description" placeholder="City" value="{{event.city}}">
                                </div>
                                
                                <div class="col-xs-4">
                                  <label for="province"><h5>Province</h5></label>
                                  <input type="text" class="form-control" name="update_event_province" id="update_event_province" placeholder="Province" value="{{event.province}}">
                                </div>

                              </div>
                            </div>

                            <div class="modal-footer">
                              <button type="submit" id="btnUpdateEvent" name="btnUpdateEvent" class="btn btn-primary">Update</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!---End of Event Update Modal-->
              </form>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        
        <!-- Add Event -->
        <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="addmodal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addmodal"> Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              
              <div class="modal-body">
                <form class="form" action="{% url 'app:organizer-dashboard' %}" method="post" id="createEventForm">
                {% csrf_token %}
                  <div class="form-group">
                    <div class="col-lg-12">
                      
                      <div class="col-xs-4">
                        <label for="title"><h5>Title</h5></label>
                        <input type="text" class="form-control" name="create_event_title" id="create_event_title" placeholder="Title">
                      </div>

                      <div class="col-xs-4">
                        <label for="description"><h5>Description</h5></label>
                        <input type="text" class="form-control" name="create_event_description" id="create_event_description" placeholder="Description">
                      </div>

                      <div class="col-xs-4">
                        <label for="eventType"><h5>Event Type</h5></label>
                        <input type="text" class="form-control" name="create_event_eventType" id="create_event_eventType" placeholder="Event Type">
                      </div>

                      <div class="col-xs-4">
                        <label for="street"><h5>Street</h5></label>
                        <input type="text" class="form-control" name="create_event_street" id="create_event_street" placeholder="Street">
                      </div>

                      <div class="col-xs-4">
                        <label for="city"><h5>City</h5></label>
                        <input type="text" class="form-control" name="create_event_city" id="create_event_city" placeholder="City">
                      </div>

                      <div class="col-xs-4">
                        <label for="province"><h5>Province</h5></label>
                        <input type="text" class="form-control" name="create_event_province" id="create_event_province" placeholder="Province">
                      </div>
                      <br>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnCreateEvent" name="btnCreateEvent">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div> 
                </form>
              </div>

            </div>
          </div>
        </div>
        <!---End of Add Event -->
      </div>
    </div>
    <!--End of Events Collapse Table-->

    <!--Join Request Collapse Table-->
    <div class="tab-pane fade" id="JoinRequest">
      <div class="card mb-4">
        <div class="card-header"><i class="fa fa-plus-square"></i> Join Request </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>User's Full Name</th>
                  <th>Event Title</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {% for join_request in join_requests %}
                {% if join_request.event_id.organizer_id == organizer_user %}
                <form class="form" action="{% url 'app:organizer-dashboard' %}" method="post">
                  {% csrf_token %}
                  <tr>
                    <td><input type="text" name="join_request_id" id="join_request_id" value={{join_request.id}} hidden></td>
                    <td>{{ join_request.user_id.user_id.first_name }} {{ join_request.user_id.user_id.last_name }}</td>
                    <td>{{ join_request.event_id.title }}</td>
                    <td>
                      <button type="submit" class="btn btn-success" name="btnAcceptRequest" id="btnAcceptRequest"> <i class="fa fa-check"></i> Accept</button>
                      <button type="submit" class="btn btn-danger" name="btnDeclineRequest" id="btnDeclineRequest"><i class="fa fa-ban"></i> Decline</button>
                    </td>
                  </tr>
                </form>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}